In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [37]:
gr_slz = pd.read_csv("/content/grocery_sales.csv")

In [4]:
gr_slz.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   storeID   78 non-null     object
 1   product   78 non-null     object
 2   quantity  78 non-null     int64
 3   revenue   78 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.6+ KB

In [5]:
gr_slz.describe()

          quantity       revenue
count    78.000000     78.000000
mean   1162.923077   4740.384615
std     493.074815   2455.933504
min     284.000000    832.500000
25%     759.250000   2815.275000
50%    1131.500000   3951.900000
75%    1596.500000   7045.475000
max    1931.000000  10211.900000

In [13]:
gr_slz.storeID.unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
      dtype=object)

In [25]:
gr_slz.product.unique()

AttributeError: ignored

In [18]:
gr_slz.isnull().count()

storeID     78
product     78
quantity    78
revenue     78
dtype: int64

In [21]:
gr_slz.revenue.sum()

369750.0

In [24]:
gr_slz.quantity.sum()

90708

In [28]:
## QUANTITY SOLD : 90708
## REVENUE : 369750.0

In [39]:
gr_slz[(gr_slz.storeID == 'A' ) & (gr_slz.product == 'Apples')]

Empty DataFrame
Columns: [storeID, product, quantity, revenue]
Index: []

In [35]:
gr_slz[(gr_slz.storeID == 'B' ) & (gr_slz.product == 'Bananas')]

Empty DataFrame
Columns: [storeID, product, quantity, revenue]
Index: []

In [38]:
gr_slz[(gr_slz.storeID == 'C' ) & (gr_slz.product == 'Oranges')]

Empty DataFrame
Columns: [storeID, product, quantity, revenue]
Index: []