In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

In [2]:
g_x = pd.read_csv("/content/train_v9rqX0R.csv")

In [4]:
g_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [11]:
# list(g_x.Item_Identifier.unique())

In [7]:
g_x.Item_Type.unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [12]:
# g_x.Outlet_Identifier.unique()

In [9]:
g_x.Outlet_Size.unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [10]:
g_x.Outlet_Type.unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [13]:
g_x.Outlet_Location_Type.unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [14]:
g_x[(g_x.Item_Type =='Dairy' )&(g_x.Outlet_Size=='Small')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
40,FDU02,13.350,Low Fat,0.102512,Dairy,230.6352,OUT046,1997,Small,Tier 1,Supermarket Type1,3435.5280
49,FDS02,NaN,Regular,0.255395,Dairy,196.8794,OUT019,1985,Small,Tier 1,Grocery Store,780.3176
110,FDD03,13.300,Low Fat,0.079806,Dairy,232.5300,OUT046,1997,Small,Tier 1,Supermarket Type1,699.0900
...,...,...,...,...,...,...,...,...,...,...,...,...
8211,FDZ15,13.100,Low Fat,0.000000,Dairy,117.8782,OUT035,2004,Small,Tier 2,Supermarket Type1,2741.0986
8386,FDB51,6.920,Low Fat,0.038454,Dairy,61.5852,OUT046,1997,Small,Tier 1,Supermarket Type1,813.6076
8404,DRH39,NaN,low fat,0.000000,Dairy,75.9670,OUT019,1985,Small,Tier 1,Grocery Store,153.1340
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924

In [15]:
g_x[(g_x.Item_Type =='Frozen Foods' )&(g_x.Outlet_Size=='High')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
51,FDM40,10.195,Low Fat,0.159804,Frozen Foods,141.5154,OUT013,1987,High,Tier 3,Supermarket Type1,850.8924
159,FDQ28,14.000,Regular,0.060377,Frozen Foods,154.5656,OUT013,1987,High,Tier 3,Supermarket Type1,2471.4496
266,FDG29,17.600,Low Fat,0.056245,Frozen Foods,43.3454,OUT013,1987,High,Tier 3,Supermarket Type1,1006.6896
269,FDM28,15.700,Low Fat,0.045166,Frozen Foods,178.6660,OUT013,1987,High,Tier 3,Supermarket Type1,2516.7240
314,FDB29,16.700,Regular,0.052368,Frozen Foods,112.7176,OUT013,1987,High,Tier 3,Supermarket Type1,801.6232
...,...,...,...,...,...,...,...,...,...,...,...,...
8022,FDZ16,16.850,Regular,0.159723,Frozen Foods,194.1478,OUT013,1987,High,Tier 3,Supermarket Type1,5812.4340
8257,FDA52,16.200,Regular,0.128315,Frozen Foods,178.1370,OUT013,1987,High,Tier 3,Supermarket Type1,3881.6140
8333,FDC41,15.600,Low Fat,0.116816,Frozen Foods,75.5670,OUT013,1987,High,Tier 3,Supermarket Type1,1684.4740
8354,FDO52,11.600,Regular,0.077100,Frozen Foods,172.4106,OUT013,1987,High,Tier 3,Supermarket Type1,1539.9954
8389,FDJ40,13.600,Regular,0.049548,Frozen Foods,108.6912,OUT013,1987,High,Tier 3,Supermarket Type1,2402.2064